.container{
    text-align: center;
.image-container {
    position: relative; /* Container-Positionierung für die absolute Position des Texts */
    text-align: center; /* Zentriert den Text horizontal */
}

#titelbild {
    width: 100%;
    height: auto;

}

#titelbild-text {
    position: absolute; /* Absolut positionierter Text innerhalb des Containers */
    bottom: 15px; /* Abstand vom unteren Rand des Containers */
    left: 50%; /* Text wird horizontal zentriert */
    transform: translateX(-50%); /* Um das Zentrum korrekt auszurichten */
    background-color: rgba(255, 255, 255, 0.9); /* Hintergrundfarbe für den Text */
    padding: 5px; /* Innenabstand für den Text */
    color: rgb(10, 10, 7);
}

h1 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Arial';
}

.info {
    text-align: center;
    padding: 40px;
}

body {
    margin: 20px;
    font-family: 'Arial';
}

.tabs {
    display: flex;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#tab-suche {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #000000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#tab-analyse {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #ff0000;
    color:white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#tab-random {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 2px solid #ccc;
    background-color: #fffb00;
    /*Eigentlich ist die Schriftfarbe der Tabs weiß, allerdings ist diese Farbe zusammen mit einem gelben Hintergrund ungünstig.
    Zudem gibt es zwischen dem Tab Suche und Analyse mehr Zusammenhang, da es in diesen um gefilterte Daten handelt,
    beim Tab Random Tweets hingegen handelt es sich um zufällig gewählte Daten bzw. Tweets, sodass dieser im Grunde genommen eine
    andere Funktion bietet, weshalb deswegen in dem Design unterschieden werden kann*/
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#tab-suche:hover {
    background-color: #00000082;
}

#tab-analyse:hover {
    background-color: #ff00009a;
}

/* BUTTON  RANDOM TWEET */
.random-button {
    margin-top: 20px;
    padding: 20px 30px;
    background-color: #a5b7ca;
    font-weight: bold;
    color: rgb(16, 15, 15);
    border-radius: 4px #1b1a1a;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.random-button:hover {
    background-color: #939faa;
    
}

#tweet-container{
    padding: 50px;
    border: 1px #1b1a1a;
}